# Django Framework
django==4.2.7

# Django REST Framework for building the API
djangorestframework==3.14.0

# Handles Cross-Origin Resource Sharing (CORS), good practice for any API
django-cors-headers==4.3.1
